@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-family: Alegreya, sans-serif;
}
body{
    font-family: var(--font-family);
}

.backgr-img {
    /* background-image: url('/img/banner.png'); */
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.alegreya-<uniquifier> {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
 