@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-family: Alegreya, sans-serif;
}
body{
    font-family: var(--font-family);
}

.backgr-img {
    /* background-image: url('/img/banner.png'); */
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .bg-gray-gradient {
    border-radius: 30px 0px 0px 0px;   
    padding: 20px;
    margin: 20px;
    color: white; /* Mudando a cor do texto para branco para melhorar a legibilidade */
  }
  .bg-gray-gradient p {
    margin: 0; /* Removendo margens padrão */
    
  }

  .text-gradient {
    background: linear-gradient(45deg, #8f8238, #c99534); /* Gradiente de cor para o texto */
    -webkit-background-clip: text; /* Clip do gradiente ao texto */
    color: transparent; /* Torna o texto transparente para exibir o gradiente */
    
  }

  .justica{
    border-radius: 0px 100px 0px 0px;
  }

  .text-white.relative:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
}

/* This only changes this particular animation duration */
.animate__animated.animate__zoomInUp {
    --animate-duration: 5s;
  }

  /* This only changes this particular animation duration */
.animate__animated.animate__zoomInLeft {
    --animate-duration: 5s;
  }
  

  /* Estilos adicionais para o botão de âncora */
  #btn-anchor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 26px;
    cursor: pointer;
    z-index: 99;
    transition: background-color 0.3s;
}
#btn-anchor:hover {
    background-color: #FFD700;
}

.img-form{
    width: 180px; 
    height: 100px; 
    margin: 250px  auto;
}



  /* Estilos adicionais */
  .testimonial-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}


@keyframes zoom-in {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-zoom-in {
  animation: zoom-in 5.5s ease-out;
}